// If you want to override variables do it here
@import "./_variables";

// Import custom library
@import "_custom.scss";

//Common
@import "./common.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif !important;
}

body {
  font-family: $font-family-sans-serif !important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}
